<!DOCTYPE html>
<html lang="hu" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Éttermi Asztalfoglalás</title>
</head>
<body>

<h1>Éttermi asztalfoglalási rendszer</h1>

<div sec:authorize="isAnonymous()">
    <a th:href="@{/bejelentkezes}">Bejelentkezés</a>
    <a th:href="@{/regisztracio}">Regisztráció</a>
</div>

<div sec:authorize="isAuthenticated()">
    <a th:href="@{/idopontvalasztas}">Asztalfoglalás</a>
    <a th:href="@{/aktiv-foglalasaim}">Aktív foglalásaim</a>
</div>

</body>
</html>